.ant-form-item {
    margin-bottom: 10px;
}

.ant-form-item-label {
    line-height: 23px;
}

@media (max-width: 575px) {
    .ant-form-item {
        margin-bottom: 10px;
    }
    .ant-form-item-label {
        line-height: 13px;
    }
}