body {
  color: rgba(0, 0, 0, 0.65);
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol;
  font-variant: tabular-nums;
  line-height: 1.5;
  font-feature-settings: "tnum";
}

a {
  color: var(--main)/*#1890ff*/;
  text-decoration: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: color .3s;
}

.ant-form-item {
  margin-bottom: 10px;
}

.ant-form-item-label {
  line-height: 23px;
}

@media (max-width: 575px) {
  .ant-form-item {
    margin-bottom: 10px;
  }
  .ant-form-item-label {
    line-height: 13px;
  }
}